@using AuthServer.Dashboard.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @* HATA BURADAYDI: Yetkisi yoksa Login'e fırlat *@
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <div class="text-center mt-5">Yetkiler kontrol ediliyor...</div>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Sayfa Bulunamadı</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Üzgünüm, bu sayfayı bulamadık.</p>
        </LayoutView>
    </NotFound>
</Router>